<!DOCTYPE html>
<html lang="en">
<head id="headId">

    <meta charset="UTF-8">
    <title>Title content</title>
</head>
<body>
    <div align="center">
        <h1 id="game-title">Guess the Number Game</h1>
        <h3>
        <a id="play"   href="play.html">
            Click to Play
        </a>
        </h3>
    </div>
</body>
</html>

<!--we are going to use the fragment in this file to replace the header th:replace

add a dummy link at click to play, so we can test it at preview mode but in the application it will be replaced by thymeleaf-->